{% extends 'base.html.twig' %}

{% block body %}

    <div id="main-container"></div>

    {% include 'TdsBundle:Default:dashboard.html.twig' %}

    {% block javascripts %}
        {{ parent() }}
    {% endblock %}

    {% javascripts
        '@TdsBundle/Resources/public/js/app.js'
        '@TdsBundle/Resources/public/js/router.js'
        '@TdsBundle/Resources/public/js/views/Dashboard.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}