<script type="text/template" id="tpl-tds-list">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                TDS List
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="#dashboard">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-list-ul"></i> TDS List
                </li>
            </ol>

            <div class="container">
                <h2>Basic Table</h2>
                <table id="tds-list" class="table">
                    <thead>
                    <tr>
                        <th data-field="name">Name</th>
                        <th data-field="created_by">Created By</th>
                        <th data-field="dt_created">DT Created</th>
                        <th>Menu</th>
                    </tr>
                    </thead>
                    <tbody id="table-content">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>