<script type="text/template" id="tpl-templates">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Templates
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-files-o" aria-hidden="true"></i> Templates
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button id="create-template-button" type="button" class="btn btn-default">Create</button>
                    </div>

                    <table id="template-list" class="table">

                    </table>
                </div>
            </div>
        </div>
</script>