<script type="text/template" id="tpl-tds-filters-add">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Add Filter
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-language" aria-hidden="true"></i> Add Filter
                </li>
            </ol>


            <!-- left side -->
            <div class='col-sm-5' style="padding-left: 0px; float: left; width: 500px;" >

                <!-- NAME -->
                <div id="name-container">
                    <label for="name" ></label>
                    <div class="col-sm-8">
                        Name: <label ><input class="form-control" type="text" name="name" id="name" autofocus></label>
                    </div>
                </div>
                <!-- NAME END -->
            </div>


            <!--right side -->
            <div  style="padding-right: 0px; float: right; width: 500px;">
            <!-- DUE DATE -->
            <div id="date-container" >
                <label for="due_date" ></label>
                <div >
                    Created: <label ><input id="created" name="created" type='text' /><span class="fa fa-calendar"></span></label>
                </div>
            </div>
            <!-- DUE DATE END-->
            </div>

            <!-- BUTTONS -->
            <div style="margin-top: 50px;">
                <label for="button" ></label>
                <div class="col-sm-5">
                    <button style="margin: 5px;" id='reset-filter-button' >Reset</button>
                    <button style="margin: 5px;" id='filter-button' >Update</button>
                </div>
            </div>

        </div>
    </div>
</script>