<script type="text/template" id="tpl-language">
    <form role="form" id="language-form" >

        <div class="form-group">
            <label>Language:</label>
            <select id="langId" class="form-control mandatory">
            </select>
        </div>

        <div class="form-group">
            <label>Organization unit</label>
            <select id="organizationUnitId" class="form-control mandatory">
            </select>
        </div>
    </form>
</script>