<script type="text/template" id="tpl-segment">
    <form role="form" id="segment-form" >

        <div class="form-group">
            <label>Name:</label>
            <input name="name" id="name" class="form-control mandatory">
        </div>

    </form>
</script>