<script type="text/template" id="tpl-set-segments">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Segments
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-fw fa-wrench"></i>  Settings
                </li>
                <li class="active">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i> Segments
                </li>
            </ol>
        </div>

        <div class="container">
            <button id="create-segment-button" type="button" class="btn btn-default">Create</button>
        </div>
        <div class="container">
            <table id="tds-list" class="table">
                <thead>
                <tr>
                    <th data-field="name">Name</th>
                    <th data-field="createBy">Created By</th>
                    <th data-field="dtCreated">Created</th>
                    <th>Menu</th>
                </tr>
                </thead>
                <tbody id="table-content">

                </tbody>
            </table>
        </div>
    </div>
</script>