<script type="text/template" id="tpl-set-trademarks">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Trademarks
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-fw fa-wrench"></i> Settings
                </li>
                <li class="active">
                    <i class="fa fa-cc" aria-hidden="true"></i> Trademarks
                </li>
            </ol>
        </div>
    </div>
</script>