<script type="text/template" id="tpl-trademark">
    <form role="form" id="segment-form" >

        <div class="form-group">
            <label>Name:</label>
            <input name="name" id="name" class="form-control mandatory" value="<%= model.get('name') %>">
        </div>

        <div class="form-group">
            <label>Organization unit</label>
            <select class="form-control mandatory">
                <option>1</option>

                <% organizationUnitCollection.each(function(organizationUnit) { %>
                <option value="<% organizationUnit.get('id') %>"><% organizationUnit.get('name') %></option>
                <% }); %>
            </select>
        </div>
    </form>
</script>